body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background: #f8f8f8;
    text-align: center;
}

header {
    background: #fff;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    text-decoration: none;
    color: #D71920;
    border: 2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    background: #D71920;
    color: #fff;
}

.tile h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.tile p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

footer {
    margin-top: 40px;
    padding: 20px;
    background: #fff;
}

.blog-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    text-align: justify;
}

.blog-container h1, 
.blog-container h2 {
    text-align: right;
}

.blog-container p {
    line-height: 1.8;
    text-align: justify;
}
